*{
    margin: 0;
    padding: 0;
}
/* body{
   background-image: url('panda1.png');
   background-repeat: space;
   background-size: cover;
} */
#container{
    height: 1334px;
    width: 444px;
/* ;    background-image: url('panda1.png');
    background-repeat: space;
    background-size: cover */
    border: 2px solid blueviolet;
    color: aliceblue;
    /* background-repeat: no-repeat;
    background-position: top center;
    background-attachment: scroll; */
    background: red url('panda1.png') no-repeat scroll top right;
}